# Set the default behavior for all files
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.cs text
*.csproj text
*.config text
*.json text
*.xml text
*.md text
*.txt text
*.yml text
*.yaml text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.otf binary
*.dll binary
*.exe binary
*.pdb binary
*.bin binary
*.obj binary
*.lib binary
*.ncb binary
*.sdf binary
*.suo binary
*.log binary
*.
